body {
    user-select: none;
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 120px;
    width: 40%;
    grid-gap: 1rem;
    border: 1px solid blue;
    padding: 1rem;
}

.container .draggable {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    color: white;
    cursor: move;
}

.container .draggable span:not(:last-child) {
    margin-bottom: 5px;
}




.ghost {
    border: 1px dashed #000;
    background-color: #fff;
}

.custom-drag-ghost {
    /* The original cloned element must not take place up in the page and must not be visible */
    position: absolute;
    top: -99999px;
    left: -99999px;
    /* Just for appearance */
    background-color: #edb458;
    border: 1px solid #e8871e;
}

.hidden-drag-ghost {
    opacity: 0;
}

.transition {
    transition: all 2s ease-out .5s;
    top: 0;
}
